.badge {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  font-weight: 600;
}

.glow {
  animation: glow-shadow 2s ease-in-out infinite alternate;
}

@keyframes glow-shadow {
  from {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 20px rgba(145, 189, 69, 0.8);
  }
}
