<div class="finances-page new-category-page">
  <app-finances-title-bar
    [title]="'financesPage.categoriesPage.newCategoriesPage.title' | translate"
    closeRouterLink=".."
  ></app-finances-title-bar>

  <form class="flex flex-col gap-4" [formGroup]="formGroup" (ngSubmit)="submit()">
    <label class="flex flex-col gap-2">
      <span>{{ 'general.name' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
      <input formControlName="name" pInputText type="text" />
    </label>

    <label class="flex flex-col gap-2">
      <span
        >{{ 'financesPage.categoriesPage.newCategoriesPage.color' | translate }} <app-required-field-asterisk></app-required-field-asterisk
      ></span>
      <p-color-picker formControlName="color"></p-color-picker>
    </label>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.categoriesPage.newCategoriesPage.parent' | translate }}</span>
      <app-category-picker formControlName="parent" [getAllCategoriesParams]="getAllCategoriesParams"></app-category-picker>
    </label>

    <label class="flex flex-col gap-2">
      <span
        >{{ 'financesPage.categoriesPage.newCategoriesPage.concept' | translate }}
        <app-required-field-asterisk></app-required-field-asterisk
      ></span>
      <app-concept-picker controlName="conceptId" [excludeDebtSf]="true" [includeCustomOption]="true"></app-concept-picker>
    </label>

    @if (customConceptSelected) {
      <label class="flex flex-col gap-2">
        <span
          >{{ 'financesPage.categoriesPage.newCategoriesPage.customConceptName' | translate }}
          <app-required-field-asterisk></app-required-field-asterisk
        ></span>
        <input formControlName="customConceptName" pInputText type="text" />
      </label>
    }

    <button pButton type="submit" [loading]="submitting" [disabled]="formGroup.invalid">{{ 'general.save' | translate }}</button>
  </form>
</div>
