@if (loading || bankAccount == null || formGroup == null) {
  <p-progress-spinner></p-progress-spinner>
} @else {
  <div class="finances-page edit-bank-account-page">
    <app-finances-title-bar
      [title]="'financesPage.bankAccountsPage.editBankAccountPage.title' | translate: { name: bankAccount.name }"
      closeRouterLink="../.."
      [showDeleteButton]="true"
      (deleteButtonClicked)="askForConfirmationToDelete()"
      [deleteButtonLoading]="submitting"
    ></app-finances-title-bar>

    <form class="flex flex-col gap-4" [formGroup]="formGroup" (ngSubmit)="submit()">
      <label class="flex flex-col gap-2">
        <span>{{ 'financesPage.bankAccountsPage.name' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
        <input formControlName="name" pInputText type="text" />
      </label>

      <label class="flex flex-col gap-2">
        <span>{{ 'general.enabled' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
        <p-toggleswitch formControlName="enabled"></p-toggleswitch>
      </label>

      <label class="flex flex-col gap-2">
        <span>{{ 'financesPage.bankAccountsPage.currency' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
        <app-currency-selector formControlName="currency"></app-currency-selector>
      </label>

      <label class="flex items-center gap-3 rounded-md border border-surface-200 dark:border-surface-600 dark:bg-surface-900 px-3 py-2">
        <p-toggleswitch formControlName="showOnDashboard"></p-toggleswitch>
        <span>{{ 'financesPage.bankAccountsPage.showOnDashboard' | translate }}</span>
      </label>

      <button pButton type="submit" [loading]="submitting" [disabled]="formGroup.invalid">{{ 'general.save' | translate }}</button>
    </form>
  </div>
}

<p-confirm-dialog />
