.title-bar {
  min-height: 40px;

  .title {
    margin: 0;
  }

  .buttons {
    margin-left: auto;
  }

   .td-breadcrumb,
  .title {
    font-size: 16px;
    @screen md {
      font-size: 18px;
    }
  }

  .td-breadcrumbs {
      flex-wrap: wrap;
      display: flex;
  }

  .td-breadcrumb {
    display: block !important;
    width: 100%;
    @screen md {
      width: auto;
    }
  }

  td-breadcrumb:last-of-type,
  .title {
    font-weight: bold;
  }
}
