<app-navbar></app-navbar>

<div class="w-full max-w-md mx-auto mt-4 px-4 md:px-0">
  <app-finances-title-bar [title]="'authFlows.forgot.title' | translate" closeRouterLink="/login"></app-finances-title-bar>

  @if (!submitted) {
    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-4">
      <label class="flex flex-col gap-2">
        <span>{{ 'general.email' | translate }}</span>
        <input pInputText formControlName="email" type="email" class="w-full" />
      </label>

      <app-turnstile-widget (resolved)="turnstileToken = $event" />

      <p-button
        type="submit"
        [disabled]="form.invalid || !turnstileToken"
        [label]="'authFlows.forgot.submit' | translate"
        styleClass="w-full"
      />
    </form>
  } @else {
    <p>{{ 'authFlows.forgot.sent' | translate }}</p>
  }
</div>

<p-toast />
