<app-navbar></app-navbar>

<div class="flex items-center justify-center mt-12 min-w-[100vw] overflow-hidden">
  <div class="flex flex-col items-center justify-center">
    @if (form) {
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="flex mb-8 gap-2" formGroupName="name">
          <div>
            <label for="firstName" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
              >{{ 'general.firstName' | translate }} <app-required-field-asterisk></app-required-field-asterisk
            ></label>
            <input
              pInputText
              id="firstName"
              type="text"
              [placeholder]="'general.firstName' | translate"
              class="w-full md:w-[30rem]"
              formControlName="first"
            />
          </div>

          <div>
            <label for="lastName" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
              >{{ 'general.lastName' | translate }} <app-required-field-asterisk></app-required-field-asterisk
            ></label>
            <input
              pInputText
              id="lastName"
              type="text"
              [placeholder]="'general.lastName' | translate"
              class="w-full md:w-[30rem]"
              formControlName="last"
            />
          </div>
        </div>

        <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2"
          >{{ 'general.email' | translate }} <app-required-field-asterisk></app-required-field-asterisk
        ></label>
        <input pInputText id="email" type="text" [placeholder]="'general.email' | translate" class="w-full mb-8" formControlName="email" />

        <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
          >{{ 'general.password' | translate }} <app-required-field-asterisk></app-required-field-asterisk
        ></label>
        <p-password
          id="password"
          formControlName="password"
          [placeholder]="'general.password' | translate"
          [toggleMask]="true"
          styleClass="mb-8"
          [fluid]="true"
          [feedback]="true"
          class="w-full mb-8"
        ></p-password>

        <label for="confirmPassword" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
          >{{ 'general.passwordConfirm' | translate }} <app-required-field-asterisk></app-required-field-asterisk
        ></label>
        <p-password
          id="confirmPassword"
          formControlName="confirmPassword"
          [placeholder]="'general.passwordConfirm' | translate"
          [toggleMask]="true"
          styleClass="mb-8"
          [fluid]="true"
          [feedback]="false"
          class="w-full mb-8"
          [class.ng-invalid]="form.hasError('PasswordNoMatch')"
        ></p-password>

        <div class="w-full mb-8">
          <label for="languagePicker" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2"
            >{{ 'general.language' | translate }} <app-required-field-asterisk></app-required-field-asterisk
          ></label>
          <app-language-picker id="languagePicker" formControlName="language"></app-language-picker>
        </div>

        <input type="hidden" formControlName="csrf_token" />

        <p-button
          [loading]="submitting"
          [disabled]="form.invalid"
          type="submit"
          [label]="'registerPage.register' | translate"
          styleClass="w-full"
        ></p-button>
      </form>
    }
  </div>
</div>

<p-toast />
