<ng-container *transloco="let t">
  <div class="content new-credit-card-page">
    <app-title-bar>
      <div custom-title>
        <td-breadcrumbs>
          <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
          <a td-breadcrumb routerLink="/finances/credit">{{ t('credit-cards') }}</a>
          <td-breadcrumb>{{ t('add') }}</td-breadcrumb>
        </td-breadcrumbs>
      </div>
    </app-title-bar>

    <app-form-credit-card (creditCardSaved)="newCreditCard($event)"></app-form-credit-card>
  </div>
</ng-container>
