<div class="header w-full bg-gray-700 text-white mb-8">
  <app-navbar></app-navbar>

  <div class="header-section py-24">
    <div class="container mx-auto flex flex-col items-center justify-center font-inter">
      <img style="width: 320px" class="mb-8" src="/public/images/logo-landing.png" />

      <h1 class="text-3xl font-bold line-height-2 text-shadow-lg text-center" [innerHTML]="'landing.title' | translate"></h1>

      <p
        class="secondary-text font-light text-lg line-height-3 mt-3 text-gray-100 text-center md:w-1/2"
        [innerHTML]="'landing.subtitle' | translate"
      ></p>

      <a class="mt-6" routerLink="/register" pButton [rounded]="true">
        <span pButtonLabel>{{ 'landing.startNow' | translate }}</span>
      </a>
    </div>
  </div>
</div>
