<ng-container *transloco="let t">
  <div class="content edit-card-page">
    <app-title-bar>
      <div custom-title>
        <td-breadcrumbs>
          <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
          <a td-breadcrumb routerLink="/finances/credit">{{ t('credit-cards') }}</a>
          <td-breadcrumb>{{ t('edit') }}</td-breadcrumb>
        </td-breadcrumbs>
      </div>
    </app-title-bar>

    <app-form-credit-card
      *ngIf="creditCard; else loading"
      [creditCard]="creditCard"
      (creditCardSaved)="editCreditCard($event)"
    ></app-form-credit-card>
  </div>
</ng-container>

<ng-template #loading>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
