<div class="wallet-entry-table">
  @if (page != null) {
    <p-data-view [value]="page.items">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-4 grid-nogutter">
          @for (item of items; track item; let first = $first) {
            <div class="col-span-12">
              <div class="flex flex-col p-6 gap-4" [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
                <div class="flex flex-wrap gap-4 items-center">
                  <app-entry-type [entry]="item" class="table-item"></app-entry-type>
                  <app-entry-status [entry]="item" class="table-item"></app-entry-status>
                </div>

                @if (item.name != null && item.name != '') {
                  <span class="table-item">{{ item.name }}</span>
                }

                <div class="flex flex-wrap gap-4 items-center">
                  <span class="table-item">{{ item.date | localDate: 'shortDate' }}</span>

                  <span class="table-item {{ item.value >= 0 ? 'text-green-700' : 'text-red-700' }}">{{
                    item.value | localCurrency: item.currency
                  }}</span>
                </div>

                <app-entry-description [entry]="item"></app-entry-description>
              </div>
            </div>
          }
        </div>
      </ng-template>
      <ng-template #emptymessage>
        <div class="flex flex-col items-center gap-2">
          <h3 class="text-lg">
            {{ 'financesPage.transactionsPage.noWalletEntryFound.title' | translate: { date: dateRangeText() } }}
          </h3>
          <h4>{{ 'financesPage.transactionsPage.noWalletEntryFound.subtitle' | translate }}</h4>

          <a class="mt-4" routerLink="/app/transactions/new" pButton [rounded]="true">
            <fa-icon [icon]="newTransactionButtonIcon"></fa-icon>

            <span>{{ 'financesPage.menu.newTransaction' | translate }}</span>
          </a>
        </div>
      </ng-template>
    </p-data-view>

    <app-infinite-paginator
      [hasNext]="page.hasNext"
      [initialPage]="currentPageNumber"
      (pageChange)="onPageChange($event)"
    ></app-infinite-paginator>
  } @else {
    <p-data-view [value]="skeletons">
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-4 grid-nogutter">
          @for (item of items; track item; let first = $first) {
            <div class="col-span-12">
              <div class="flex flex-col p-6 gap-4" [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }">
                <div class="flex flex-wrap gap-4 items-center">
                  <p-skeleton width="120px" height="20px"></p-skeleton>
                  <p-skeleton width="120px" height="20px"></p-skeleton>
                </div>

                <p-skeleton width="200px" height="24px"></p-skeleton>

                <div class="flex flex-wrap gap-4 items-center">
                  <p-skeleton width="120px" height="24px"></p-skeleton>
                  <p-skeleton width="120px" height="24px"></p-skeleton>
                </div>

                <div class="flex flex-wrap gap-2">
                  <p-skeleton width="79px" height="24px"></p-skeleton>
                  <p-skeleton width="79px" height="24px"></p-skeleton>
                </div>
              </div>
            </div>
          }
        </div>
      </ng-template>
    </p-data-view>
  }
</div>
