<td-window-dialog *transloco="let t"
  [title]="t((editingTransaction ? 'edit' : 'new') + '-transaction-' + (shared ? 'shared' : 'individual'))"
  [toolbarColor]="'accent'" [closeLabel]="t('close')" (closed)="closed.emit()">
  <div class="p-4">
    <form class="grid" [formGroup]="formGroup" (ngSubmit)="saveTransacation()">
      <mat-button-toggle-group class="flex-wrap md:flex-nowrap mb-4" formControlName="transactionType">
        <mat-button-toggle class="w-6/12 md:w-auto md:flex-1 transaction-type revenue"
          [value]="transactionTypeEnum.Revenue">
          <mat-icon class="mr-2">trending_up</mat-icon> <span class="name">{{ t('revenue') }}</span>
        </mat-button-toggle>
        <mat-button-toggle class="w-6/12 md:w-auto md:flex-1 transaction-type expense"
          [value]="transactionTypeEnum.Expense">
          <mat-icon class="mr-2">trending_down</mat-icon> <span class="name">{{ t('expense') }}</span>
        </mat-button-toggle>
        <mat-button-toggle class="w-6/12 md:w-auto md:flex-1 transaction-type credit-card"
          [value]="transactionTypeEnum.CreditCard">
          <mat-icon class="mr-2">credit_card</mat-icon> <span class="name">{{ t('credit-card') }}</span>
        </mat-button-toggle>
        <mat-button-toggle *ngIf="editingTransaction == null"
          class="w-6/12 md:w-auto md:flex-1 transaction-type transfer" [value]="transactionTypeEnum.Transfer">
          <mat-icon class="mr-2">sync_alt</mat-icon> <span class="name">{{ t('transfer') }}</span>
        </mat-button-toggle>
      </mat-button-toggle-group>

      <mat-form-field appearance="outline" *ngIf="shared">
        <mat-label>{{ t('group') }}</mat-label>
        <mat-select formControlName="group" required>
          <mat-option>{{ t('mat-select-none') }}</mat-option>
          <mat-option *ngFor="let group of groups" [value]="group">
            {{ group.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>{{ t('value') }}</mat-label>
        <input currencyMask formControlName="value" required matInput
          [placeholder]="t('transaction-value-placeholder')" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('date') }}</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker"
          [placeholder]="t('transaction-date-placeholder')" required />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="field" appearance="outline">
        <mat-label>{{ t('description') }}</mat-label>
        <input formControlName="description" matInput [placeholder]="t('transaction-description-placeholder')" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ t('category') }}</mat-label>
        <input type="text" [placeholder]="t('transaction-category-placeholder')" matInput formControlName="category"
          [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="formatCategory">
          <mat-option *ngFor="let category of filteredCategories$ | async" [value]="category">
            {{ category.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="transactionType !== transactionTypeEnum.CreditCard">
        <mat-label>{{ t('bank-account') }}</mat-label>
        <mat-select formControlName="bankAccount" [compareWith]="bankAccountInputValueCompare">
          <mat-option>{{ t('mat-select-none') }}</mat-option>
          <mat-optgroup *ngFor="let accountsPerson of accountsWithPersons" [label]="accountsPerson.person.name">
            <mat-option *ngFor="let account of accountsPerson.accounts"
              [value]="{ accountId: account.id, personId: accountsPerson.person.id }">
              {{ account.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" *ngIf="transactionType === transactionTypeEnum.Transfer">
        <mat-label>{{ t('bank-account-destiny') }}</mat-label>
        <mat-select formControlName="bankAccount2" [compareWith]="bankAccountInputValueCompare">
          <mat-option>{{ t('mat-select-none') }}</mat-option>
          <mat-optgroup *ngFor="let accountsPerson of accountsWithPersons" [label]="accountsPerson.person.name">
            <mat-option *ngFor="let account of accountsPerson.accounts"
              [value]="{ accountId: account.id, personId: accountsPerson.person.id }">
              {{ account.name }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <app-credit-card-input *ngIf="transactionType === transactionTypeEnum.CreditCard" [formControlName]="'creditCard'">
      </app-credit-card-input>

      <mat-form-field appearance="outline" *ngIf="transactionType === transactionTypeEnum.CreditCard">
        <mat-label>{{ t('credit-card-bill-date') }}</mat-label>
        <mat-select formControlName="creditCardBillDate" [compareWith]="creditCardBillDateInputValueCompare">
          <mat-option>{{ t('mat-select-none') }}</mat-option>
          <mat-option *ngFor="let option of creditCardBillDateOptions" [value]="option">
            {{ option.format('L') }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button [disabled]="formGroup.invalid" class="add-button md:w-auto md:ml-auto block" type="submit"
        mat-raised-button color="primary">
        {{ t(editingTransaction ? 'edit' : 'add') }}
      </button>
    </form>
  </div>
</td-window-dialog>