@import 'src/scss/variables.scss';

$transaction-type-bg-transparentize: 0.7;

.revenue {
  $color: $revenue-color;
  background: transparentize($color, $transaction-type-bg-transparentize);
  color: #fff !important;

  &.mat-button-toggle-checked {
    background: $color;
  }
}

.expense {
  $color: $expense-color;

  background: transparentize($color, $transaction-type-bg-transparentize);
  color: #fff !important;

  &.mat-button-toggle-checked {
    background: $color;
  }
}

.credit-card {
  $color: $credit-card-color;

  background: transparentize($color, $transaction-type-bg-transparentize);
  color: #fff !important;

  &.mat-button-toggle-checked {
    background: $color;
  }
}

.transfer {
  $color: $transfer-color;

  background: transparentize($color, $transaction-type-bg-transparentize);
  color: #fff !important;

  &.mat-button-toggle-checked {
    background: $color;
  }
}

.transaction-type {
  &.mat-button-toggle-checked {
    font-weight: 500 !important;

    .name {
      display: inline;
    }
  }
}
