<ng-container *transloco="let t">
  <div class="content new-credit-card-page">
    <ng-container *ngIf="groupDone; else templateLoading">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs *ngIf="group == null">
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb [routerLink]="individualSharedBreadcrumbUrl">{{ t('individual') }}</a>
            <a td-breadcrumb [routerLink]="categoriesBreadcrumbUrl">{{ t('categories') }}</a>
            <td-breadcrumb>{{ t('add') }}</td-breadcrumb>
          </td-breadcrumbs>

          <td-breadcrumbs *ngIf="group">
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb routerLink="/finances/shared">{{ t('shared') }}</a>
            <a td-breadcrumb routerLink="/finances/shared/groups">{{ t('groups') }}</a>
            <a td-breadcrumb routerLink="/finances/shared/{{ group.id }}">{{ t('group-name', { 'name': group.name }) }}</a>
            <a td-breadcrumb routerLink="/finances/shared/{{ group.id }}/category">{{ t('categories') }}</a>
            <td-breadcrumb>{{ t('add') }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
      </app-title-bar>
      <app-form-category (categorySaved)="newCategory($event)"></app-form-category>
    </ng-container>
  </div>
</ng-container>

<ng-template #templateLoading>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
