<div class="finances-page new-transaction-page">
  <app-finances-title-bar
    [title]="'financesPage.transactionsPage.newTransactionPage.title' | translate"
    closeRouterLink=".."
  ></app-finances-title-bar>

  <form [formGroup]="form" class="flex flex-col gap-4" (ngSubmit)="submit()">
    @let isTransfer = typeControl.value === TransactionType.TRANSFER;

    <div class="flex justify-center">
      <div class="transaction-type-buttons mb-4 grid w-full lg:w-5/6 xl:w-3/4 md:grid-cols-3">
        @for (typeButton of transactionTypeOptions; track typeButton) {
          @let controlSelected = typeControl.value == typeButton.value;

          <button
            (click)="typeControl.setValue(typeButton.value)"
            pButton
            [severity]="typeButton.severity"
            [class]="typeButton.styleClass"
            [class.font-semibold]="controlSelected"
            [class.inset-shadow-sm]="controlSelected"
            [class.text-shadow-lg]="controlSelected"
          >
            @if (controlSelected) {
              <i class="pi pi-check"></i>
            } @else {
              <i class="pi" style="width: 16px"></i>
            }
            {{ typeButton.label | translate }}
          </button>
        }
      </div>
    </div>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.transactionsPage.confirmed' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
      <p-toggleswitch formControlName="confirmed"></p-toggleswitch>
    </label>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.transactionsPage.group' | translate }}</span>
      <app-paged-select [optionsGetter]="loadGroups.bind(this)" formControlName="group" [filterInMemory]="true"></app-paged-select>
    </label>

    <div class="grid md:grid-cols-{{ isTransfer ? 2 : 1 }} gap-2">
      <label class="flex flex-col gap-2">
        <span>{{ 'financesPage.transactionsPage.origin' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
        <app-wallet-item-picker [group]="selectedGroup" formControlName="origin"></app-wallet-item-picker>
      </label>

      @if (isTransfer) {
        <label class="flex flex-col gap-2">
          <span>{{ 'financesPage.transactionsPage.target' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
          <app-wallet-item-picker [group]="selectedGroup" formControlName="target"></app-wallet-item-picker>
        </label>
      }
    </div>

    <div class="grid md:grid-cols-2 gap-2">
      <label class="flex flex-col gap-2">
        <span>{{ 'general.name' | translate }}</span>
        <input pInputText formControlName="name" />
      </label>

      <label class="flex flex-col gap-2">
        <span>{{ 'financesPage.transactionsPage.category' | translate }}</span>
        <app-category-picker formControlName="category" [groupId]="selectedGroup?.id"></app-category-picker>
      </label>
    </div>

    <div class="grid md:grid-cols-2 gap-2">
      <label class="flex flex-col gap-2">
        <span
          >{{ 'financesPage.transactionsPage.value' | translate }}

          @let sublabel = valueSublabel;
          @if (sublabel.length > 0) {
            <span class="mr-1">({{ sublabel | translate }})</span>
          }

          <app-required-field-asterisk></app-required-field-asterisk
        ></span>
        <p-input-number
          mode="currency"
          [currency]="currentOrigin?.currency ?? user()?.defaultCurrency ?? 'USD'"
          formControlName="value"
          [showButtons]="true"
          [min]="0.01"
          [step]="10"
          fluid
        ></p-input-number>
      </label>

      <label class="flex flex-col gap-2">
        <span>{{ 'general.date' | translate }} <app-required-field-asterisk></app-required-field-asterisk></span>
        <app-date-picker formControlName="date"></app-date-picker>
      </label>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-2">
      <div class="flex gap-2">
        <label class="flex flex-col gap-2 w-full">
          <span
            >{{ 'financesPage.transactionsPage.paymentType' | translate }} <app-required-field-asterisk></app-required-field-asterisk
          ></span>
          <p-select-button
            [options]="paymentTypeOptions"
            optionValue="value"
            optionDisabled="disabled"
            formControlName="paymentType"
            [allowEmpty]="false"
            fluid
          >
            <ng-template #item let-item>
              <span>{{ item.label | translate }}</span>
            </ng-template>
          </p-select-button>
        </label>
      </div>

      @if (currentPaymentType === PaymentType.INSTALLMENTS) {
        <label class="flex flex-col gap-2">
          <span
            >{{ 'financesPage.transactionsPage.valueType' | translate }} <app-required-field-asterisk></app-required-field-asterisk
          ></span>
          <app-i18n-select formControlName="valueType" [options]="valueTypeOptions"></app-i18n-select>
        </label>
      }
    </div>

    @if (currentPaymentType === PaymentType.INSTALLMENTS) {
      <div class="grid md:grid-cols-3 gap-2">
        <label class="flex flex-col gap-2">
          <span
            >{{ 'financesPage.transactionsPage.installments' | translate }} <app-required-field-asterisk></app-required-field-asterisk
          ></span>
          <p-input-number formControlName="installments" [min]="2" [max]="720" [showButtons]="true" fluid></p-input-number>
        </label>

        <label class="flex flex-col gap-2">
          <span
            >{{ 'financesPage.transactionsPage.periodicity' | translate }} <app-required-field-asterisk></app-required-field-asterisk
          ></span>
          <app-i18n-select formControlName="periodicity" [options]="recurrenceTypeOptions"></app-i18n-select>
        </label>

        <label class="flex flex-col gap-2">
          <span
            >{{ 'financesPage.transactionsPage.valueTypes.' + calculatedValueType | translate }}

            @let sublabel = calculatedValueSublabel;
            @if (sublabel.length > 0) {
              <span class="mr">({{ sublabel | translate }})</span>
            }
          </span>
          <p-input-number
            mode="currency"
            [currency]="currentOrigin?.currency ?? user()?.defaultCurrency ?? 'USD'"
            formControlName="calculatedValue"
            fluid
          ></p-input-number>
        </label>
      </div>
    }

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.transactionsPage.observations' | translate }}</span>
      <textarea rows="2" pInputTextarea [autoResize]="true" formControlName="observations"></textarea>
    </label>

    <button class="mt-4" pButton type="submit" [loading]="submitting" [disabled]="form.invalid">{{ 'general.save' | translate }}</button>
  </form>
</div>
