<div class="flex flex-col gap-2 dashboard-card">
  <div class="title flex flex-wrap items-center gap-2 mb-3 min-h-10">
    @if (faIcon()) {
      <fa-icon class="dashboard-card-icon {{ iconCssColorClass() }}" [icon]="faIcon()"></fa-icon>
    }

    <span class="font-medium mr-auto {{ titleCssColorClass() }}">{{ titleKey() }}</span>

    @if (headerRightTemplate) {
      <ng-container [ngTemplateOutlet]="headerRightTemplate"></ng-container>
    }
  </div>

  @if (value() != null) {
    <span style="min-height: 28px" [class]="'font-medium text-lg ' + valueCssColorClass()">{{ value() }}</span>
  } @else {
    <p-skeleton height="28px" width="89px"></p-skeleton>
  }
</div>
