<div class="paged-select">
  <p-select
    #select
    [options]="options"
    [optionLabel]="optionLabel()"
    [filter]="allowFilter()"
    [showClear]="true"
    [placeholder]="placeholder()"
    class="w-full {{ componentClass() }}"
    [disabled]="disabled"
    (onChange)="onSelectionChange($event)"
    [ngModel]="value"
    (onClear)="clearSelection()"
    [virtualScroll]="true"
    [virtualScrollItemSize]="44"
    [virtualScrollOptions]="scrollerOptions()"
    [dataKey]="dataKey()"
  >
    <ng-template #loader>
      <div class="p-2">
        <p-skeleton width="100%" height="44px"></p-skeleton>
      </div>
    </ng-template>

    @if (externalItemTemplate) {
      <ng-template let-item #item>
        <ng-container [ngTemplateOutlet]="externalItemTemplate" [ngTemplateOutletContext]="{ $implicit: item, optionLabel: optionLabel() }">
        </ng-container>
      </ng-template>
    }

    @if (externalSelectedItemTemplate) {
      <ng-template let-selectedOption #selectedItem>
        <ng-container
          [ngTemplateOutlet]="externalSelectedItemTemplate"
          [ngTemplateOutletContext]="{ $implicit: selectedOption, optionLabel: optionLabel() }"
        >
        </ng-container>
      </ng-template>
    }

    @if (!filterInMemory()) {
      <ng-template #filter>
        <div class="w-full p-2 bg-surface-0">
          <p-iconfield>
            <input pInputText type="text" class="w-full" autofocus [formControl]="searchControl" role="searchbox" autocomplete="off" />
            <p-inputicon class="pi pi-search" />
          </p-iconfield>
        </div>
      </ng-template>
    }
  </p-select>
</div>
