<ng-container *transloco="let t">
  <div class="content group-single-page" *ngIf="group != null; else loadingTemplate">
    <app-title-bar>
      <div custom-title>
        <td-breadcrumbs>
          <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
          <a td-breadcrumb routerLink="/finances/shared">{{ t('groups') }}</a>
          <td-breadcrumb>{{ group.name }}</td-breadcrumb>
        </td-breadcrumbs>
      </div>

      <div right>
        <a mat-icon-button aria-label="Categories" routerLink="category" [matTooltip]="t('categories')">
          <mat-icon>local_offer</mat-icon>
        </a>

        <button
          mat-icon-button
          aria-label="Share"
          [matTooltip]="t('create-share-url')"
          (click)="createInvite()"
          *ngIf="!sharedLinkLoading; else loadingTemplate"
        >
          <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button aria-label="Edit" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <a (click)="toggleDisallowFutureOnSameMonth()" mat-menu-item *ngIf="disallowFutureOnSameMonth">
            <span>{{ t('show-future-transaction') }}</span>
          </a>
          <button (click)="toggleDisallowFutureOnSameMonth()" mat-menu-item *ngIf="!disallowFutureOnSameMonth">
            <span>{{ t('hide-future-transaction') }}</span>
          </button>
        </mat-menu>
      </div>
    </app-title-bar>

    <div class="pb-6">
      <app-month-bar (dateChange)="dateChanged($event)"></app-month-bar>
    </div>

    <app-group-summary-dashboard
      [groupSummary]="groupSummaryState.summary"
      [isLoading]="groupSummaryState.isLoading"
      [users]="group.users"
    ></app-group-summary-dashboard>

    <div class="chart flex flex-col justify-center items-stretch mb-6">
      <h2 class="title">{{ t('expenses') }}</h2>
      <div class="flex h-3/5 md:h-56 justify-center items-center">
        <ngx-charts-line-chart
          *ngIf="transactionsGroupedYearMonth; else loadingTemplate"
          [scheme]="colorScheme"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxis]="true"
          [yAxis]="true"
          [xAxisLabel]="t('date')"
          [yAxisLabel]="t('value-currency', { currency: '' | currencySymbol })"
          [results]="transactionsGroupedYearMonth"
          [roundDomains]="true"
          [autoScale]="true"
        >
        </ngx-charts-line-chart>
      </div>
    </div>

    <app-transactions-table
      [transactionsPage$]="transactionsPage$"
      [pageSize]="pageSize"
      (getTransactionsRequested)="getTransactions($event.page)"
      (editTransactionRequested)="editTransaction($event)"
      (deleteTransactionRequested)="deleteTransaction($event)"
    >
    </app-transactions-table>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
