<ng-container *transloco="let t">
  <app-title-bar [title]="t('group-name', { 'name': group?.name })">
    <div right>
      <button mat-icon-button aria-label="Edit" [title]="t('create-share-url')" (click)="editGroup()">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        aria-label="Share"
        [title]="t('edit-group')"
        (click)="createInvite()"
        *ngIf="!sharedLinkLoading; else loading"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </app-title-bar>
</ng-container>

<ng-template #loading>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
