<div class="finances-title-bar mb-5 h-11">
  <div class="flex gap-2 items-center h-full">
    @if (closeRouterLink != null) {
      <div class="flex">
        <a [routerLink]="closeRouterLink" pButton [rounded]="true" [text]="true" severity="secondary" size="small">
          <fa-icon [icon]="closeButtonIcon"></fa-icon>
        </a>

        <div class="separator"></div>
      </div>
    }

    @if (closeClick != null) {
      <div class="flex">
        <a (click)="closeClick()" pButton [rounded]="true" [text]="true" severity="secondary" size="small">
          <fa-icon [icon]="closeButtonIcon"></fa-icon>
        </a>

        <div class="separator"></div>
      </div>
    }

    <h2 class="text-2xl">{{ title }}</h2>

    @let buttons = rightButtons();

    @if (buttons.length > 0) {
      <div class="ml-auto flex gap-2">
        @for (rightButton of buttons; track rightButton) {
          @if (rightButton.routerLink != null) {
            <a
              [routerLink]="rightButton.routerLink"
              pButton
              [rounded]="rightButton.rounded"
              size="small"
              [pTooltip]="rightButton.tooltip != null ? (rightButton.tooltip | translate) : undefined"
              [tooltipPosition]="rightButton.tooltipPosition ?? 'bottom'"
            >
              @if (rightButton.icon != null) {
                <fa-icon [icon]="rightButton.icon"></fa-icon>
              }
            </a>
          } @else if (rightButton.click != null) {
            <button
              type="button"
              pButton
              [text]="true"
              [rounded]="rightButton.rounded ?? false"
              size="small"
              (click)="rightButton.click!()"
              [pTooltip]="rightButton.tooltip != null ? (rightButton.tooltip | translate) : undefined"
              [tooltipPosition]="rightButton.tooltipPosition ?? 'bottom'"
              [loading]="rightButton.loading ?? false"
            >
              <fa-icon [icon]="rightButton.icon ?? deleteButtonIcon"></fa-icon>
            </button>
          }
        }
      </div>
    }
  </div>
</div>
