<div class="finances-title-bar mb-4 h-11">
  <div class="flex gap-2 items-center h-full">
    @if (closeRouterLink != null) {
      <div class="flex">
        <a [routerLink]="closeRouterLink" pButton [rounded]="true" [text]="true" severity="secondary" size="small">
          <fa-icon [icon]="closeButtonIcon"></fa-icon>
        </a>

        <div class="separator"></div>
      </div>
    }

    <h2 class="text-2xl">{{ title }}</h2>

    @if (newRouterLink != null || showDeleteButton) {
      <div class="ml-auto">
        @if (newRouterLink != null) {
          <a [routerLink]="newRouterLink" pButton [rounded]="true" size="small" [pTooltip]="'general.new' | translate">
            <fa-icon [icon]="newButtonIcon"></fa-icon>
          </a>
        }

        @if (showDeleteButton) {
          <p-button
            (click)="deleteButtonClicked.next()"
            [rounded]="true"
            size="small"
            [pTooltip]="'general.delete' | translate"
            [loading]="deleteButtonLoading"
          >
            <ng-template pTemplate="iconTemplate">
              <fa-icon [icon]="deleteButtonIcon"></fa-icon>
            </ng-template>
          </p-button>
        }
      </div>
    }
  </div>
</div>
