<ng-container *transloco="let t">
  <div class="content bank-account-single-page">
    <ng-container *ngIf="bankAccount; else loadingTemplate">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs>
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb routerLink="/finances/bank">{{ t('bank-accounts') }}</a>
            <td-breadcrumb>{{ bankAccount.name }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
        <div right>
          <button mat-icon-button aria-label="Edit" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a (click)="toggleDisallowFutureOnSameMonth()" mat-menu-item *ngIf="disallowFutureOnSameMonth">
              <span>{{ t('show-future-transaction') }}</span>
            </a>
            <button (click)="toggleDisallowFutureOnSameMonth()" mat-menu-item *ngIf="!disallowFutureOnSameMonth">
              <span>{{ t('hide-future-transaction') }}</span>
            </button>
          </mat-menu>
        </div>
      </app-title-bar>

      <div class="pb-6">
        <app-month-bar (dateChange)="dateChanged($event)"></app-month-bar>
      </div>

      <app-bank-account-summary-dashboard
        [bankAccountSummary]="bankAccountSummaryState.summary"
        [isLoading]="bankAccountSummaryState.isLoading"
      ></app-bank-account-summary-dashboard>

      <div class="chart flex flex-col justify-center items-stretch mb-6">
        <h2 class="title">{{ t('balance') }}</h2>
        <div class="flex h-3/5 md:h-56 justify-center items-center">
          <ngx-charts-line-chart
            *ngIf="transactionsGroupedYearMonth; else loadingTemplate"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="true"
            [yAxis]="true"
            [xAxisLabel]="t('date')"
            [yAxisLabel]="t('value-currency', { currency: '' | currencySymbol })"
            [results]="transactionsGroupedYearMonth"
            [roundDomains]="true"
            [autoScale]="true"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
      <div class="h-3/5 md:h-48 chart flex flex-col md:grid md:grid-cols-2 justify-center items-stretch mb-6">
        <div class="flex flex-col items-stretch">
          <h2 class="title">{{ t('revenues') }}</h2>

          <div class="flex justify-center items-center">
            <ngx-charts-line-chart
              *ngIf="transactionsGroupedYearMonthRevenues; else loadingTemplate"
              [scheme]="colorScheme"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="true"
              [yAxis]="true"
              [xAxisLabel]="t('date')"
              [yAxisLabel]="t('value-currency', { currency: '' | currencySymbol })"
              [results]="transactionsGroupedYearMonthRevenues"
              [roundDomains]="true"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
        <div class="flex flex-col items-stretch">
          <h2 class="title">{{ t('expenses') }}</h2>

          <div class="flex justify-center items-center">
            <ngx-charts-line-chart
              *ngIf="transactionsGroupedYearMonthExpenses; else loadingTemplate"
              [scheme]="colorSchemeExpense"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="true"
              [yAxis]="true"
              [xAxisLabel]="t('date')"
              [yAxisLabel]="t('value-currency', { currency: '' | currencySymbol })"
              [results]="transactionsGroupedYearMonthExpenses"
              [roundDomains]="true"
              [autoScale]="true"
            >
            </ngx-charts-line-chart>
          </div>
        </div>
      </div>

      <app-transactions-table
        [transactionsPage$]="transactionsPage$"
        [pageSize]="pageSize"
        (getTransactionsRequested)="getTransactions($event.page)"
        (editTransactionRequested)="editTransaction($event)"
        (deleteTransactionRequested)="deleteTransaction($event)"
      >
      </app-transactions-table>
    </ng-container>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
