<ng-container *transloco="let t">
  <div class="content bank-account-single-page">
    <ng-container *ngIf="bankAccount; else loadingTemplate">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs>
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb routerLink="/finances/bank">{{ t('bank-accounts') }}</a>
            <td-breadcrumb>{{ bankAccount.name }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
      </app-title-bar>

      <app-month-bar class="pb-4" (dateChange)="dateChanged($event)"></app-month-bar>

      <div class="cards grid md:grid-cols-3 md:gap-4 pb-4">
        <ng-template #loadingCard>
          <mat-progress-spinner mode="indeterminate" diameter="28"> </mat-progress-spinner>
        </ng-template>

        <mat-card class="card">
          <mat-card-content class="card-content flex justify-center items-center flex-col mb-0 break-all">
            <span class="text-gray-400 mb-2">{{ t('balance') }}</span>
            <h3 class="m-0" *ngIf="balance != null; else loadingCard">{{ balance | currency }}</h3>
          </mat-card-content>
        </mat-card>
      </div>

      <app-transactions-table
        [transactionsPage$]="transactionsPage$"
        [pageSize]="pageSize"
        (getTransactionsRequested)="getTransactions($event.page)"
        (editTransactionRequested)="editTransaction($event)"
        (deleteTransactionRequested)="deleteTransaction($event)"
      >
      </app-transactions-table>
    </ng-container>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
