<div class="navbar py-4 bg-gray-700 text-white mb-8">
  <div class="container mx-auto flex items-center">
    @if (showDrawerMenu) {
      <button (click)="toggleDrawer()" pButton class="md:hidden mr-4" severity="secondary">
        <fa-icon [icon]="drawerOpen ? faBarsStaggered : faBars"></fa-icon>
      </button>
    }

    <a class="logo flex items-center gap-3" routerLink="/">
      <img class="h-9" src="/public/images/small-logo.png" />
      <span class="title hidden md:inline text-2xl font-bold text-shadow-lg">Shared Finances</span>
    </a>

    <div class="mx-auto"></div>

    <div class="menu gap-4 flex items-center justify-end">
      @let user = userService.user();

      @if (userService.loading()) {
        <p-progress-spinner ariaLabel="loading" class="w-4 h-4" />
      } @else if (user) {
        <button pButton class="text-white hover:text-primary" [text]="true" [rounded]="true" (click)="userMenu.toggle($event)">
          <span pButtonLabel>{{ user.firstName }}</span>
        </button>
      } @else {
        <a routerLink="/login" pButton class="text-white hover:text-primary" [text]="true" [rounded]="true">
          <span pButtonLabel>{{ 'general.login' | translate }}</span>
        </a>

        <a routerLink="/register" pButton [rounded]="true">
          <span pButtonLabel>{{ 'general.register' | translate }}</span>
        </a>
      }

      <app-lang-button buttonClass="text-white hover:text-primary"></app-lang-button>
    </div>
  </div>
</div>

<p-menu #userMenu [model]="items" [popup]="true" />
