<div class="navbar py-4 bg-gray-700 text-white mb-8">
  <div class="container mx-auto px-4 flex items-center">
    <a class="logo flex items-center gap-3" routerLink="/">
      <img class="h-9" src="/public/images/small-logo.png" />
      <span class="title hidden md:inline text-2xl font-bold text-shadow-lg">Shared Finances</span>
    </a>

    <div class="mx-auto"></div>

    <div class="menu gap-4 flex items-center">
      <a routerLink="/login" pButton class="!text-white !hover:text-primary" [text]="true" [rounded]="true">
        @let user = userService.user();

        @if (user) {
          <span pButtonLabel>{{ user.firstName }}</span>
        } @else {
          <p-progress-spinner ariaLabel="loading" class="w-4 h-4" />
        }
      </a>

      <app-lang-button buttonClass="text-white hover:text-primary"></app-lang-button>
    </div>
  </div>
</div>
