<ng-container *transloco="let t">
  <div class="content credit-card-page">
    <ng-container *ngIf="creditCards.length > 0; else noCreditCard">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs>
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <td-breadcrumb>{{ t('credit-cards') }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
        <div right>
          <a routerLink="new" mat-icon-button aria-label="Edit" [matTooltip]="t('new-credit-card')">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </app-title-bar>

      <div class="credit-cards grid md:grid-cols-2 gap-4">
        <mat-card
          appearance="outlined"
          class="credit-card cursor-pointer"
          *ngFor="let creditCard of creditCards"
          [routerLink]="creditCard.id"
          [class.credit-card-disabled]="!creditCard.enabled"
        >
          <mat-card-header class="items-center mb-1">
            <mat-icon mat-card-avatar class="w-auto h-auto">credit_card</mat-icon>
            <mat-card-title class="mb-0 break-all">{{ creditCard.name }}</mat-card-title>
            <button class="ml-auto" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a routerLink="{{ creditCard.id }}/edit" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>{{ t('edit') }}</span>
              </a>
              <button (click)="delete(creditCard)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>{{ t('delete') }}</span>
              </button>
            </mat-menu>
          </mat-card-header>
        </mat-card>
      </div>
    </ng-container>
  </div>

  <ng-template #noCreditCard>
    <app-no-item
      *ngIf="creditCardsLoading == false; else loadingTemplate"
      [text]="t('no-credit-cards')"
      [buttonText]="'new-credit-card' | transloco"
      buttonRouterLink="new"
    >
    </app-no-item>
  </ng-template>

  <ng-template #loadingTemplate>
    <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
  </ng-template>
</ng-container>
