@import './variables.scss';

.expense-color {
  color: $expense-color;
}
.credit-card-color {
  color: $credit-card-color;
}
.transfer-color {
  color: $transfer-color;
}
.revenue-color {
  color: $revenue-color;
}
