@import './variables.scss';

.expense-color {
  color: $expense-color !important;
}
.credit-card-color {
  color: $credit-card-color !important;
}
.transfer-color {
  color: $transfer-color !important;
}
.revenue-color {
  color: $revenue-color !important;
}
