@use 'sass:map';
@use '@angular/material' as mat;
@import '@angular/material/theming';

// Define a custom typography config that overrides the font-family
// or any typography level.
//$typography: mat.define-typography-config(
$typography: mat.define-legacy-typography-config(
  $font-family: 'Roboto, monospace',
  //$headline-5: mat.define-typography-level(32px, 48px, 700),
  $headline: mat.define-typography-level(32px, 48px, 700),
);

$primary: mat.define-palette($mat-cyan, 800, 100, 900);
$accent: mat.define-palette($mat-brown, 700, 100, 900);

$warn: mat.define-palette($mat-red, 600, 100, 900);

$theme: mat.define-light-theme($primary, $accent, $warn);

$config: mat.get-color-config($theme);
$background: map.get($config, 'background');

$primary-color: mat-color($primary);

$expense-color: #b71c1c;
$credit-card-color: #212121;
$transfer-color: #1a237e;
$revenue-color: #004d40;
