<div class="advanced-menu-item">
  @if (item.routerLink == null && item.command == null && item.expanded == null) {
    <div class="advanced-menu-item-simple flex gap-2">
      <ng-container *ngTemplateOutlet="header"></ng-container>
      <ng-container *ngTemplateOutlet="extraRightButtons"></ng-container>
    </div>
  }

  @if (item.expanded == undefined) {
    @if (item.routerLink) {
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="advanced-menu-item-link-active"
        [routerLinkActiveOptions]="item.routerLinkActiveOptions"
        class="advanced-menu-item-link"
        (click)="itemClicked.emit(item)"
      >
        @if (item.fa) {
          <fa-icon [icon]="item.fa" class="mr-4"></fa-icon>
        }

        <span class="p-menuitem-text">{{ item.label }}</span>
      </a>
    }
  } @else {
    @let expanded = item.expanded || (item.routeToAutoExpand != null && currentRoute.startsWith(item.routeToAutoExpand));

    <p-panel [toggleable]="true" [collapsed]="!expanded" toggler="header">
      <ng-template pTemplate="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>
      </ng-template>

      <ng-template pTemplate="headericons" let-collapsed>
        <ng-container *ngTemplateOutlet="extraRightButtons"></ng-container>

        @if (item.showCollapseIcon) {
          <fa-icon [icon]="collapsed ? collapsedIcon : expandedIcon"></fa-icon>
        }
      </ng-template>

      <ng-container *ngTemplateOutlet="childTemplate"></ng-container>
    </p-panel>
  }

  @if ((item.routerLink == null || item.command == null) && item.expanded == undefined) {
    <ng-container *ngTemplateOutlet="childTemplate"></ng-container>
  }

  @if (item.separator) {
    <div class="advanced-menu-item-separator"></div>
  }
</div>

<ng-template #childTemplate>
  @if (item.items?.length != null && item.items!!.length > 0) {
    <div
      class="advanced-menu-item-children ml-4"
      style="{{ item.itemsMaxHeight ? `max-height: ${item.itemsMaxHeight}; overflow-y: auto;` : '' }}"
    >
      @for (child of item.items; track child.id ?? child) {
        <app-advanced-menu-item [item]="child" (itemClicked)="itemClicked.emit($event)"></app-advanced-menu-item>
      }
    </div>
  } @else if (item.itemsLoading) {
    <div class="advanced-menu-item-children ml-4 text-center flex flex-col gap-4">
      <p-skeleton></p-skeleton>
      <p-skeleton width="90%"></p-skeleton>
      <p-skeleton></p-skeleton>
    </div>
  } @else if (item.messageIfEmptyItems != undefined) {
    <div class="advanced-menu-item-children ml-4 text-center flex flex-col gap-4">
      <span>{{ item.messageIfEmptyItems }}</span>
    </div>
  }
</ng-template>

<ng-template #header>
  @if (item.fa) {
    <fa-icon [icon]="item.fa" class="mr-4"></fa-icon>
  }

  <span>{{ item.label }}</span>
</ng-template>

<ng-template #extraRightButtons>
  @if (item.rightButtons != null && item.rightButtons!!.length > 0) {
    <div class="ml-auto advanced-menu-item-right-buttons flex gap-2 items-center">
      @for (btn of item.rightButtons; track item.rightButtons) {
        @if (btn.command != null) {
          <p-button
            (click)="$event.stopPropagation(); btn.command(); itemClicked.emit(item)"
            [rounded]="true"
            [text]="true"
            size="small"
            [pTooltip]="btn.tooltip"
            class="p-0 text-default-inverse lg:text-black"
          >
            <ng-template pTemplate="iconTemplate">
              <fa-icon [icon]="btn.fa"></fa-icon>
            </ng-template>
          </p-button>
        } @else if (btn.routerLink != null) {
          <a
            pButton
            [routerLink]="btn.routerLink"
            [rounded]="true"
            [text]="true"
            size="small"
            [pTooltip]="btn.tooltip"
            class="p-0 text-default-inverse lg:text-black"
            (click)="$event.stopPropagation(); itemClicked.emit(item)"
          >
            <fa-icon [icon]="btn.fa"></fa-icon>
          </a>
        }
      }
    </div>
  }
</ng-template>
