<div class="finances-page new-group-page">
  <app-finances-title-bar [title]="'financesPage.groupsPage.newGroupPage.title' | translate" closeRouterLink=".."></app-finances-title-bar>

  <form class="flex flex-col gap-4" [formGroup]="formGroup" (ngSubmit)="submit()">
    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.groupsPage.name' | translate }}</span>
      <input formControlName="name" pInputText type="text" />
    </label>

    <button pButton type="submit" [loading]="submitting" [disabled]="formGroup.invalid">{{ 'general.save' | translate }}</button>
  </form>
</div>
