<div class="finances-page new-group-category-page">
  <app-finances-title-bar
    [title]="'financesPage.categoriesPage.newCategoriesPage.title' | translate"
    closeRouterLink=".."
  ></app-finances-title-bar>

  <form class="flex flex-col gap-4" [formGroup]="formGroup" (ngSubmit)="submit()">
    <label class="flex flex-col gap-2">
      <span>{{ 'general.name' | translate }}</span>
      <input formControlName="name" pInputText type="text" />
    </label>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.categoriesPage.newCategoriesPage.color' | translate }}</span>
      <p-color-picker formControlName="color"></p-color-picker>
    </label>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.categoriesPage.newCategoriesPage.parent' | translate }}</span>
      <app-category-picker
        formControlName="parent"
        [groupId]="groupId"
        [getAllCategoriesParams]="getAllCategoriesParams"
      ></app-category-picker>
    </label>

    <label class="flex flex-col gap-2">
      <span>{{ 'financesPage.categoriesPage.newCategoriesPage.concept' | translate }}</span>
      <app-concept-picker controlName="conceptId" [excludeDebtSf]="true" [includeCustomOption]="true"></app-concept-picker>
    </label>

    @if (customConceptSelected) {
      <label class="flex flex-col gap-2">
        <span>{{ 'financesPage.categoriesPage.newCategoriesPage.customConceptName' | translate }}</span>
        <input formControlName="customConceptName" pInputText type="text" />
      </label>
    }

    <button pButton type="submit" [loading]="submitting" [disabled]="formGroup.invalid">{{ 'general.save' | translate }}</button>
  </form>
</div>
