<ng-container *transloco="let t">
  <div class="content credit-card-single-page">
    <ng-container *ngIf="creditCard; else loadingTemplate">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs>
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb routerLink="/finances/credit">{{ t('credit-cards') }}</a>
            <td-breadcrumb>{{ creditCard.name }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
      </app-title-bar>

      <ng-container *ngIf="creditCard.billDatesValue?.length > 0; else noTransactions">
        <div class="pb-6">
          <app-options-bar
            [title]="t('credit-card-bill-date-explanation')"
            [formatValue]="formatValue"
            [values]="creditCard.billDatesValue"
            [currentIndex]="billDateIndex"
            (valueChange)="dateChanged($event)"
          >
          </app-options-bar>
        </div>

        <div class="cards grid md:grid-cols-2 lg:grid-cols-4 gap-4 pb-4">
          <ng-template #loadingCard>
            <mat-progress-spinner mode="indeterminate" diameter="28"> </mat-progress-spinner>
          </ng-template>

          <mat-card appearance="outlined" class="card">
            <mat-card-content class="card-content flex justify-center items-center flex-col mb-0 break-all">
              <span class="text-gray-400 mb-2">{{ t('bill-value') }}</span>
              <h3 class="m-0" *ngIf="creditCardSummary?.bill != null; else loadingCard">{{ creditCardSummary.bill | currency }}</h3>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="card">
            <mat-card-content class="card-content flex justify-center items-center flex-col mb-0 break-all">
              <span class="text-gray-400 mb-2">{{ t('month-expenses') }}</span>
              <h3 class="m-0" *ngIf="creditCardSummary?.bill != null; else loadingCard">
                {{ (creditCardSummary.expensesOfThisBill ?? 0) | currency }}
              </h3>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="card" [class.bg-red-200]="closedBill && creditCardSummary?.bill > 0">
            <mat-card-content class="card-content flex justify-center items-center flex-col mb-0 break-all">
              <span class="text-gray-400 mb-2">{{ closedBill ? t('bill-closed') : t('bill-open') }}</span>

              <ng-container *ngIf="creditCardSummary?.bill != null; else loadingCard">
                <ng-container *ngIf="closedBill || isBillDateOfCurrentMonth; else futureBillInfo">
                  <h3 class="m-0" *ngIf="creditCardSummary.bill > 0 && creditCardSummary.paymentsOfThisBill > 0">
                    {{ t('partial-paid') }}
                  </h3>
                  <h3 class="m-0" *ngIf="creditCardSummary.bill == 0">{{ t('paid') }}</h3>
                  <h3 class="m-0" *ngIf="creditCardSummary.bill > 0 && creditCardSummary.paymentsOfThisBill == 0">{{ t('not-paid') }}</h3>
                </ng-container>

                <ng-template #futureBillInfo>
                  <h3 class="m-0">&nbsp;</h3>
                </ng-template>
              </ng-container>
            </mat-card-content>
          </mat-card>

          <mat-card appearance="outlined" class="card">
            <mat-card-content class="card-content flex justify-center items-center flex-col mb-0 break-all">
              <span class="text-gray-400 mb-2">{{ t('available-limit') }}</span>
              <h3 class="m-0" *ngIf="limitAvailableLoading == false; else loadingCard">
                {{ creditCard.availableLimit | currency }}
              </h3>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 pb-6">
          <button (click)="openPayBillDialog()" mat-flat-button color="primary">{{ t('pay') }}</button>
        </div>

        <div class="chart flex flex-col justify-center items-stretch mb-6">
          <h2 class="title">{{ t('month-expenses') }}</h2>
          <div class="flex h-3/5 md:h-56 justify-center items-center">
            <ngx-charts-line-chart
              *ngIf="transactionsGroupedYearMonth; else loadingTemplate"
              [scheme]="colorScheme"
              [showXAxisLabel]="showXAxisLabel"
              [showYAxisLabel]="showYAxisLabel"
              [xAxis]="true"
              [yAxis]="true"
              [xAxisLabel]="t('date')"
              [yAxisLabel]="t('value-currency', { currency: '' | currencySymbol })"
              [results]="transactionsGroupedYearMonth"
            >
            </ngx-charts-line-chart>
          </div>
        </div>

        <app-transactions-table
          [transactionsPage$]="transactionsPage$"
          [pageSize]="pageSize"
          (getTransactionsRequested)="getTransactions($event.page)"
          (editTransactionRequested)="editTransaction($event)"
        >
        </app-transactions-table>
      </ng-container>
    </ng-container>
  </div>

  <ng-template #noTransactions>
    <app-no-item
      [text]="t('no-credit-card-transaction')"
      [buttonText]="'new-transaction' | transloco"
      [buttonClick]="openNewTransactionDialog.bind(this)"
    >
    </app-no-item>
  </ng-template>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
