<ng-container *transloco="let t">
  <div class="content credit-card-single-page">
    <ng-container *ngIf="creditCard; else loadingTemplate">
      <app-title-bar>
        <div custom-title>
          <td-breadcrumbs>
            <a td-breadcrumb routerLink="/finances">{{ t('finances') }}</a>
            <a td-breadcrumb routerLink="/finances/credit">{{ t('credit-cards') }}</a>
            <td-breadcrumb>{{ creditCard.name }}</td-breadcrumb>
          </td-breadcrumbs>
        </div>
        <div right>
          <a routerLink="new" mat-icon-button aria-label="New" [matTooltip]="t('new-credit-card')">
            <mat-icon>add</mat-icon>
          </a>
        </div>
      </app-title-bar>

      <app-options-bar
        [title]="t('credit-card-bill-date-explanation')"
        class="pb-4"
        [formatValue]="formatValue"
        [values]="creditCard.billDates"
        [currentIndex]="billDateIndex"
        (valueChange)="dateChanged($event)"
      >
      </app-options-bar>

      <app-transactions-table
        [transactionsPage$]="transactionsPage$"
        [pageSize]="pageSize"
        (getTransactionsRequested)="getTransactions($event.page)"
        (editTransactionRequested)="editTransaction($event)"
        (deleteTransactionRequested)="deleteTransaction($event)"
      >
      </app-transactions-table>
    </ng-container>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
