<mat-nav-list *transloco="let t">
  <mat-list-item>
    <span class="item" matLine routerLink="/credit" routerLinkActive="active">
      <mat-icon>credit_card</mat-icon> {{ t('credit-cards') }}
    </span>
  </mat-list-item>

  <mat-list-item>
    <span class="item" matLine routerLink="/bank" routerLinkActive="active">
      <mat-icon>account_balance</mat-icon> {{ t('bank-accounts') }}
    </span>
  </mat-list-item>

  <mat-list-item>
    <span class="item" matLine> <mat-icon>person</mat-icon> {{ t('individual') }} </span>
  </mat-list-item>

  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span class="item father" matLine routerLink="/finances/shared" routerLinkActive="active" #groupsRla="routerLinkActive">
          <mat-icon>groups</mat-icon> {{ t('shared') }}
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list-item routerLink="/finances/shared" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <span class="item child" matLine>
        {{ t('dashboard') }}
      </span>
    </mat-list-item>
    <mat-list-item routerLink="/finances/shared/groups" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
      <span class="item child" matLine>
        {{ t('manage-groups') }}
      </span>
    </mat-list-item>
  </mat-expansion-panel>
</mat-nav-list>
