@use 'sass:map';
@import 'src/scss/variables';

.mat-expansion-panel {
  border-radius: 0;

  .mat-expansion-panel-header {
    padding: 0 16px;

    &.mat-expanded {
      height: 48px;
    }
  }

  .item.child {
    font-size: 85%;
  }
}

.mat-icon {
  color: rgba(0, 0, 0, 0.54);
}

.item {
  height: 100%;
  display: flex !important;
  align-items: center;

  &.father {
    pointer-events: none;
  }

  .mat-icon {
    margin-right: 25px;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
mat-list-item.active {
  &::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    background: $primary-color;
  }

  .item,
  .item.active {
    font-weight: 500 !important;
  }
}

.new-transaction {
  margin: 16px 16px !important;
  left: -25px;
  text-align: left;
  padding-left: 25px;
  font-size: 16px;

  .mat-icon {
    color: #fff;
    margin-right: 25px;
  }
}
