<div class="transactions-table" *transloco="let t">
  <div class="transactions-title flex items-center">
    <h2 class="m-0">{{ t('transactions') }}</h2>
    <button mat-icon-button class="ml-auto" (click)="getTransactions()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="transactionsPage$ | async as transactionsPage; else loadingTemplate">
    <mat-list class="transactions space-y-6">
      <mat-list-item
        class="transaction"
        [class.transaction-future]="dateIsBiggerThanToday(transaction.date)"
        [class.negative]="transaction.value < 0"
        *ngFor="let transaction of transactionsPage.items"
      >
        <mat-icon
          [matTooltip]="t(getTransactionTranslateKey(transaction))"
          class="transaction-type cursor-default {{ getTransactionCssColor(transaction) }}"
          matListIcon
        >
          {{ getIconForTransaction(transaction) }}
        </mat-icon>
        <h3 matLine class="transaction-value" class="flex items-center">
          <mat-icon [matTooltip]="t('value')" class="info-icon mr-2">attach_money</mat-icon>
          <span> {{ transaction.value | currency | spaceOnSignal }}</span>
        </h3>

        <h3 matLine *ngIf="transaction.description != null" class="flex items-center">
          <mat-icon [matTooltip]="t('description')" class="info-icon mr-2">title</mat-icon>
          <span>{{ transaction.description }}</span>
        </h3>

        <div matLine class="grid md:grid-cols-4 extras-info md:gap-4">
          <div *ngIf="transaction.date != null" class="flex items-center extra-info">
            <mat-icon [matTooltip]="t('date')" class="info-icon mr-2">calendar_today</mat-icon>
            <span>{{ transaction.date | date }}</span>
          </div>

          <div *ngIf="transaction.category != null" class="flex items-center extra-info">
            <mat-icon [matTooltip]="t('category')" class="info-icon mr-2" [style.color]="transaction.category.color">local_offer</mat-icon>
            <span>{{ transaction.category.name }}</span>
          </div>

          <div *ngIf="transaction.group != null" class="flex items-center extra-info">
            <mat-icon [matTooltip]="t('group')" class="info-icon mr-2">group</mat-icon>
            <span>{{ transaction.group.name }}</span>
          </div>

          <div *ngIf="transaction.user != null" class="flex items-center extra-info">
            <mat-icon [matTooltip]="t('paid-by')" class="info-icon mr-2">person</mat-icon>
            <span>{{ transaction.user.name }}</span>
          </div>
        </div>

        <mat-icon
          class="cursor-help"
          [matTooltip]="t('transaction-future-warning')"
          matTooltipClass="transaction-future-tooltip"
          *ngIf="dateIsBiggerThanToday(transaction.date)"
          >warning</mat-icon
        >
        <button mat-icon-button [matMenuTriggerFor]="transactionMoreMenu">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #transactionMoreMenu="matMenu">
          <div class="new-transaction-menu">
            <div class="actions">
              <button
                [disabled]="transaction.transactionType === 'Transfer' || transaction.transactionType === 'CreditCardBillPayment'"
                mat-menu-item
                (click)="editTransaction(transaction)"
              >
                <mat-icon>edit</mat-icon>
                <span>{{ t('edit') }}</span>
              </button>
              <button mat-menu-item (click)="deleteTransaction(transaction)">
                <mat-icon>delete</mat-icon>
                <span>{{ t('delete') }}</span>
              </button>
            </div>
          </div>
        </mat-menu>
      </mat-list-item>
    </mat-list>
    <td-paging-bar
      #pagingBar
      [initialPage]="transactionsPage.page"
      [firstLast]="true"
      [pageSize]="pageSize"
      [total]="transactionsPage.total"
      (change)="getTransactions($event.page)"
    >
      {{ t('page-of', { n1: pagingBar.page, n2: pagingBar.maxPage, range: pagingBar.range }) }}
    </td-paging-bar>
  </ng-container>
</div>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
