@import 'src/scss/transaction-types.scss';
@import 'src/scss/variables.scss';

.transaction-future {
  opacity: 0.5;
}

.cat-dot {
  height: 10px;
  display: block;
  width: 10px;
  border-radius: 100%;
}

.transactions .transaction {
  &.negative .transaction-value {
    color: $expense-color;
  }

  .mat-list-item-content {
    padding: 0 !important;
  }
}

.card-content {
  min-height: 56px;
}
