<div class="transactions-table" *transloco="let t">
  <div class="transactions-title flex items-center">
    <h2 class="m-0">{{ t('transactions') }}</h2>
  </div>

  <div *ngIf="transactionsOfPageByDate; else loadingTemplate" class="space-y-6">
    <ng-container *ngFor="let transactionDate of transactionsOfPageByDate; let index = index">
      <mat-list class="transactions gap-4">
        <h4 class="font-medium">
          {{ (transactionDate.date.toDate() | date: 'd MMM' | titlecase).replace('\.', '') }}
        </h4>

        <mat-list-item
          class="transaction"
          [class.transaction-future]="dateIsBiggerThanToday(transaction.date)"
          [class.negative]="transaction.value < 0"
          *ngFor="let transaction of transactionDate.transactions"
        >
          <mat-icon
            [matTooltip]="t(getTransactionTranslateKey(transaction))"
            class="transaction-type p-0	cursor-help {{ getTransactionCssColor(transaction) }}"
            matListItemIcon
          >
            {{ getIconForTransaction(transaction) }}
          </mat-icon>

          <h3 class="flex items-center">
            <mat-icon [matTooltip]="t('value')" class="info-icon mr-2 cursor-help">attach_money</mat-icon>
            <span class="transaction-value"> {{ transaction.value | currency | spaceOnSignal }}</span>
          </h3>

          <h3 *ngIf="transaction.description != null" class="flex items-center">
            <mat-icon [matTooltip]="t('description')" class="info-icon mr-2 cursor-help">title</mat-icon>
            <span>{{ transaction.description }}</span>
          </h3>

          <div class="extras-info flex flex-wrap">
            <div *ngIf="transaction.bankAccount != null && transaction.group != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('bank-account')" class="info-icon mr-2 cursor-help">account_balance</mat-icon>
              <span>{{ transaction.bankAccount.name }}</span>
            </div>

            <div *ngIf="transaction.otherSide != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('bank-account') + ' ' + 2" class="info-icon mr-2 cursor-help">account_balance</mat-icon>
              <span>{{ transaction.otherSide.bankAccount.name }}</span>
            </div>

            <div *ngIf="transaction.creditCard != null && transaction.group != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('credit-card')" class="info-icon mr-2 cursor-help">credit_card</mat-icon>
              <span>{{ transaction.creditCard.name }}</span>
            </div>

            <div *ngIf="transaction.group != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('group')" class="info-icon mr-2 cursor-help">group</mat-icon>
              <span>{{ transaction.group.name }}</span>
            </div>

            <div *ngIf="transaction.installment != null && transaction.totalInstallments != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('installment')" class="info-icon mr-2 cursor-help">hourglass_empty</mat-icon>
              <span>{{ t('value-one-of-value-two', { value1: transaction.installment, value2: transaction.totalInstallments }) }}</span>
            </div>

            <ng-container *ngIf="transaction.categories != null">
              <div *ngFor="let category of transaction.categories" class="flex items-center extra-info">
                <mat-icon [matTooltip]="t('category')" class="info-icon mr-2 cursor-help" [style.color]="category.color"
                  >local_offer</mat-icon
                >
                <span>{{ category.name }}</span>
              </div>
            </ng-container>

            <div *ngIf="transaction.user != null && groupId != null" class="flex items-center extra-info">
              <mat-icon [matTooltip]="t('paid-by')" class="info-icon mr-2 cursor-help">person</mat-icon>
              <span>{{ transaction.user.name }}</span>
            </div>
          </div>

          <mat-icon
            class="cursor-help"
            [matTooltip]="t('transaction-future-warning')"
            matTooltipClass="transaction-future-tooltip"
            *ngIf="dateIsBiggerThanToday(transaction.date)"
            >warning
          </mat-icon>

          <button mat-icon-button matListItemMeta [matMenuTriggerFor]="transactionMoreMenu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #transactionMoreMenu="matMenu">
            <div class="new-transaction-menu">
              <div class="actions">
                <button
                  [disabled]="transaction.type === 'Transfer' || transaction.type === 'CreditCardBillPayment'"
                  mat-menu-item
                  (click)="editTransaction(transaction)"
                >
                  <mat-icon>edit</mat-icon>
                  <span>{{ t('edit') }}</span>
                </button>
                <button mat-menu-item (click)="deleteTransaction(transaction)">
                  <mat-icon>delete</mat-icon>
                  <span>{{ t('delete') }}</span>
                </button>
                <button *ngIf="transactionIsInstallment(transaction)" mat-menu-item (click)="deleteTransactionAllInstallments(transaction)">
                  <mat-icon>delete_sweep</mat-icon>
                  <span>{{ t('delete-all-installments') }}</span>
                </button>
                <button
                  *ngIf="transactionIsInstallment(transaction)"
                  mat-menu-item
                  (click)="deleteTransactionNextInstallments(transaction)"
                >
                  <mat-icon>delete_sweep</mat-icon>
                  <span>{{ t('delete-next-installments') }}</span>
                </button>
              </div>
            </div>
          </mat-menu>
        </mat-list-item>
      </mat-list>

      <mat-divider *ngIf="index + 1 < transactionsOfPageByDate.length"></mat-divider>
    </ng-container>


    <mat-paginator
      [pageIndex]="transactionsPage.number"
      [pageSize]="pageSize"
      [length]="transactionsPage.totalElements"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="true"
      (page)="getTransactions($event.pageIndex, $event.pageSize)">
    </mat-paginator>
  </div>
</div>

<ng-template #loadingTemplate>
  <mat-progress-spinner mode="indeterminate" diameter="40"> </mat-progress-spinner>
</ng-template>
