@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scss/variables.scss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content {
  padding: 14px 16px;
  height: 100%;
}

.td-layout-menu-button {
  color: #fff !important;
}

.td-window-dialog-title {
  color: black !important;
}

.mat-expansion-indicator {
  &::after {
    border-color: unset;
  }

  border-color: unset;
}

button:focus {
  outline: none;
}

.td-window-dialog {
  width: 100vw;
  max-width: 100vw !important;
  height: 100%;

  @screen md {
    width: 50vw;
    height: 70vh;
    max-width: 95vw !important;
    max-height: 95vh !important;
  }

  .mat-toolbar-row > div {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .td-window-dialog-close {
    margin-left: auto;
  }
}

.td-paging-bar-navigation {
  margin: 0px !important;
}

.mat-mdc-tooltip {
  font-size: 11px;
}

.transaction-future-tooltip {
  background: rgb(97, 97, 97) !important;
}

.warning-message {
  color: #f3753f;
  background-color: #fce3db;
}

.w-max-1366 {
  max-width: 1366px !important;
}

.mat-mdc-card-avatar {
  margin-bottom: 0 !important;
}

:root {
  --mdc-icon-button-icon-color: black;
}
