@if (creditCard == null) {
  <p-progress-spinner></p-progress-spinner>
} @else {
  <app-finances-title-bar
    [title]="'financesPage.creditCardsPage.viewCreditCardPage.title' | translate: { name: creditCard.name }"
    closeRouterLink=".."
    [extraButtons]="titleBarButtons"
  ></app-finances-title-bar>

  <div class="grid gap-4 grid-cols-1 md:grid-cols-2">
    <app-dashboard-card
      [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.availableLimit' | translate"
      [value]="creditCard.balance | localCurrency: creditCard.currency"
      [faIcon]="balanceIcon"
    ></app-dashboard-card>

    <app-dashboard-card
      [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.totalLimit' | translate"
      [value]="creditCard.totalLimit | localCurrency: creditCard.currency"
      [faIcon]="balanceIcon"
    ></app-dashboard-card>
  </div>

  <app-advanced-date-picker class="my-8" [formControl]="dateControl" selectionMode="single" viewMode="month" />

  <div class="flex flex-col h-full">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 mb-8">
      @let currentCreditCardBill = creditCardBill();
      @let value =
        currentCreditCardBill
          ? currentCreditCardBill.value != 0
            ? currentCreditCardBill.value * -1
            : currentCreditCardBill.value
          : undefined;
      @let currentStatus = status();

      <app-dashboard-card
        [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.status' | translate"
        [value]="currentStatus != null ? ('enums.creditCardBillStatus.' + currentStatus | translate) : undefined"
        [faIcon]="statusIcon()"
        [iconCssColorClass]="statusIconCssColorClass()"
        [valueCssColorClass]="statusCssColorClass()"
      ></app-dashboard-card>
      <app-dashboard-card
        [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.billValue' | translate"
        [value]="value != null ? (value | localCurrency: creditCard.currency) : undefined"
        [faIcon]="balanceIcon"
      ></app-dashboard-card>
      <app-dashboard-card
        [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.closingDate' | translate"
        [value]="currentCreditCardBill ? (currentCreditCardBill.closingDate | localDate: 'shortDate') : undefined"
        [faIcon]="closingIcon"
      >
        @if (currentCreditCardBill?.id != null) {
          <ng-template #headerRight>
            <p-button severity="secondary" variant="text" rounded size="small" (click)="openEditClosingDateDialog()">
              <fa-icon class="text-muted-color" [icon]="editIcon"></fa-icon>
            </p-button>
          </ng-template>
        }
      </app-dashboard-card>
      <app-dashboard-card
        [titleKey]="'financesPage.creditCardsPage.viewCreditCardPage.dueDate' | translate"
        [value]="currentCreditCardBill ? (currentCreditCardBill.dueDate | localDate: 'shortDate') : undefined"
        [faIcon]="dueIcon"
      >
        @if (currentCreditCardBill?.id != null) {
          <ng-template #headerRight>
            <p-button severity="secondary" variant="text" rounded size="small" (click)="openEditDueDateDialog()">
              <fa-icon class="text-muted-color" [icon]="editIcon"></fa-icon>
            </p-button>
          </ng-template>
        }
      </app-dashboard-card>
    </div>

    <app-wallet-entry-table
      class="flex-1"
      [creditCardBillId]="currentCreditCardBill?.id"
      [creditCardBillDate]="dateControl.value?.startDate"
      [loading]="currentCreditCardBill == null"
      [walletItemId]="creditCard.id!!"
      [noWalletEntryFoundMessage]="dateRange?.startDate | localDate: 'MMMM, yyyy'"
    ></app-wallet-entry-table>
  </div>
}

<p-dialog
  [header]="'financesPage.creditCardsPage.viewCreditCardPage.editClosingDateDialog.title' | translate"
  [modal]="true"
  [(visible)]="dialogToEditClosingDayIsVisible"
  [breakpoints]="{ '1199px': '75vw', '575px': '100vw' }"
  [style]="{ width: '518px', 'max-width': '518px' }"
  contentStyleClass="p-0"
  [pt]="{
    header: {
      style: { paddingLeft: '1rem', paddingRight: '0.7rem' },
    },
  }"
>
  <form [formGroup]="formToEditClosingDay" (ngSubmit)="submitNewClosingDate()" class="flex flex-col gap-4 h-full">
    <app-advanced-date-picker
      formControlName="closingDay"
      selectionMode="single"
      [forceShowInput]="true"
      [inputInline]="true"
      inputClass="max-w-full"
    ></app-advanced-date-picker>
    <div class="flex justify-end gap-2 py-4 px-7">
      <p-button [label]="'general.cancel' | translate" severity="secondary" (click)="dialogToEditClosingDayIsVisible = false" />
      <p-button
        [label]="'general.save' | translate"
        type="submit"
        [disabled]="formToEditClosingDay.invalid"
        [loading]="dialogToEditClosingDayIsSubmitting"
      />
    </div>
  </form>
</p-dialog>

<p-dialog
  [header]="'financesPage.creditCardsPage.viewCreditCardPage.editDueDateDialog.title' | translate"
  [modal]="true"
  [(visible)]="dialogToEditDueDayIsVisible"
  [breakpoints]="{ '1199px': '75vw', '575px': '100vw' }"
  [style]="{ width: '518px', 'max-width': '518px' }"
  contentStyleClass="p-0"
  [pt]="{
    header: {
      style: { paddingLeft: '1rem', paddingRight: '0.7rem' },
    },
  }"
>
  <form [formGroup]="formToEditDueDay" (ngSubmit)="submitNewDueDate()" class="flex flex-col gap-4 h-full">
    <app-advanced-date-picker
      formControlName="dueDay"
      selectionMode="single"
      [forceShowInput]="true"
      [inputInline]="true"
      inputClass="max-w-full"
    ></app-advanced-date-picker>
    <div class="flex justify-end gap-2 py-4 px-7">
      <p-button [label]="'general.cancel' | translate" severity="secondary" (click)="dialogToEditDueDayIsVisible = false" />
      <p-button
        [label]="'general.save' | translate"
        type="submit"
        [disabled]="formToEditDueDay.invalid"
        [loading]="dialogToEditDueDayIsSubmitting"
      />
    </div>
  </form>
</p-dialog>
