<app-paged-select #pagedSelect [optionsGetter]="optionsGetter()" [ngModel]="value" (ngModelChange)="onValueChange($event)">
  <ng-template let-item let-optionLabel="optionLabel" #item>
    <div class="flex items-center gap-4">
      <fa-icon [icon]="item['icon']"></fa-icon>

      <div class="flex gap-1 flex-col">
        <span>{{ item[optionLabel] }}</span>
        <div class="flex gap-2 items-center text-gray-400 text-xs">
          <span>{{ 'financesPage.transactionsPage.walletItemTypes.' + item.type | translate }}</span>
          @if (item.user != null) {
            <fa-icon size="xs" [icon]="iconUser"></fa-icon>
            <span>{{ 'name.fullName' | translate: { lastName: item.user.lastName, firstName: item.user.firstName } }}</span>
          }
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template let-item let-optionLabel="optionLabel" #selectedItem>
    <div class="flex gap-4">
      <span>{{ item[optionLabel] }}</span>
      <div class="flex gap-2 items-center text-gray-400 text-xs">
        <span>{{ 'financesPage.transactionsPage.walletItemTypes.' + item.type | translate }}</span>
        @if (item.user != null) {
          <fa-icon size="xs" [icon]="iconUser"></fa-icon>
          <span>{{ 'name.fullName' | translate: { lastName: item.user.lastName, firstName: item.user.firstName } }}</span>
        }
      </div>
    </div>
  </ng-template>
</app-paged-select>
