<app-navbar [showDrawerMenu]="true" [(drawerOpen)]="drawerOpen"></app-navbar>

<div class="container mx-auto flex flex-col md:flex-row gap-10">
  <div class="menu">
    <app-advanced-menu [items]="items" [drawerOpen]="drawerOpen" />
  </div>
  <div class="content w-full">
    <router-outlet />
  </div>
  @if (shouldShowNewTransactionButton) {
    <div class="div fixed z-10 bottom-7 right-7">
      <a routerLink="transactions/new" pButton [rounded]="true" [pTooltip]="'financesPage.menu.newTransaction' | translate">
        <fa-icon [icon]="newTransactionButtonIcon"></fa-icon>
      </a>
    </div>
  }
</div>

<p-toast />
