<div class="finances-page min-h-screen flex flex-col">
  <app-navbar class="z-50" [showDrawerMenu]="true" [(drawerOpen)]="drawerOpen"></app-navbar>

  <div class="menu block lg:hidden h-full w-full bg-gray-700 !text-white pb-4 z-50" [class.mb-8]="!drawerOpen">
    <app-advanced-menu [items]="items" [drawerOpen]="drawerOpen" />
  </div>

  @if (drawerOpen) {
    <div class="bg-black z-40 opacity-85 fixed" style="width: 100vw; height: 100vh"></div>
  }

  <div class="container mx-auto flex flex-1 gap-10">
    <div class="menu hidden lg:block">
      <app-advanced-menu [items]="items" [drawerOpen]="drawerOpen" />
    </div>
    <div class="content flex-1 pb-4 router-wrapper-full">
      <router-outlet />
    </div>
    @if (shouldShowNewTransactionButton) {
      <div class="div fixed z-20 bottom-7 right-7">
        <a routerLink="transactions/new" pButton [rounded]="true" [pTooltip]="'financesPage.menu.newTransaction' | translate">
          <fa-icon [icon]="newTransactionButtonIcon"></fa-icon>
        </a>
      </div>
    }
  </div>
</div>

<p-toast />
