@if (loading || group == null) {
  <p-progress-spinner></p-progress-spinner>
} @else {
  <div class="finances-page group-credit-cards-page">
    <app-finances-title-bar
      [title]="'financesPage.groupsPage.creditCardsAssociatedPage.title' | translate: { name: group.name }"
      closeRouterLink=".."
      [newRouterLink]="canAddCreditCard ? 'new' : undefined"
    ></app-finances-title-bar>

    <div class="group-credit-cards-table w-full">
      <p-table [value]="creditCards" class="w-full" [tableStyle]="{ 'width': '100%', 'table-layout': 'fixed' }" dataKey="id" #table>
        <ng-template #header>
          <tr>
            <th style="width: calc(50% - 6rem)">{{ 'general.name' | translate }}</th>
            <th style="width: calc(50% - 6rem)">{{ 'financesPage.groupsPage.creditCardsAssociatedPage.owner' | translate }}</th>
            <th style="width: 6rem"></th>
          </tr>
        </ng-template>
        <ng-template #body let-creditCard let-ri="rowIndex">
          <tr>
            <td>{{ creditCard.name }}</td>
            <td>
              <app-user-avatar [user]="creditCard.user"></app-user-avatar>
            </td>

            <td>
              <div class="flex items-center justify-center gap-2">
                @if (canRemoveCreditCard) {
                  <button
                    pButton
                    pRipple
                    type="button"
                    (click)="showDeleteConfirmation(creditCard)"
                    text
                    rounded
                    severity="secondary"
                    [loading]="submitting"
                  >
                    <fa-icon [icon]="faTrash"></fa-icon>
                  </button>
                }
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
}

<p-confirm-dialog />
