.example-spacer {
  flex: 1 1 auto;
}

.row {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}

.user-photo {
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
  }
}

.github-button {
  font-size: 40px;
}

.user-menu {
  .info {
    h3 {
      margin-bottom: 0;
    }
  }

  .info {
    padding: 0 20px;
  }
}
