<ng-container *transloco="let t">
  <ng-container *ngIf="userState$ | async as userState">
    <td-layout class="layout-nav-list-demo" sidenavWidth="280px">
      <td-navigation-drawer flex [sidenavTitle]="t('app-title')">
        <app-menu></app-menu>
        <div td-navigation-drawer-menu>
          <mat-nav-list>
            <a mat-list-item>
              <mat-icon>account_box</mat-icon>
              Profile
            </a>
          </mat-nav-list>
        </div>
      </td-navigation-drawer>
      <td-layout-nav-list
        [toolbarTitle]="t('app-title')"
        [navigationRoute]="getToolbarLink(userState.user != null)"
        [opened]="!isMobile && userState.user != null"
        mode="side"
      >
        <div td-sidenav-content>
          <app-menu></app-menu>
        </div>
        <div class="row" td-toolbar-content>
          <button mat-icon-button td-menu-button [tdLayoutToggle]="true" *ngIf="isMobile && userState.user != null">
            <mat-icon>menu</mat-icon>
          </button>
          <a [routerLink]="getToolbarLink(userState.user != null)"
            ><span *ngIf="isMobile || userState.user == null">{{ t('app-title') }}</span></a
          >

          <span class="example-spacer"></span>

          <mat-progress-spinner *ngIf="userState.loading" mode="indeterminate" diameter="40"> </mat-progress-spinner>

          <ng-container *ngIf="userState.done && userState.user != null">
            <button mat-icon-button class="user-photo" [matMenuTriggerFor]="userMenu">
              <img [src]="userState.user.photoURL" />
            </button>

            <mat-menu #userMenu="matMenu">
              <div class="user-menu">
                <div class="info">
                  <h3 class="name">{{ userState.user.name }}</h3>
                  <h5 class="name">{{ userState.user.email }}</h5>
                </div>
                <mat-divider></mat-divider>
                <div class="actions">
                  <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>{{ t('logout') }}</span>
                  </button>
                </div>
              </div>
            </mat-menu>
          </ng-container>

          <button *ngIf="userState.user == null" mat-icon-button (click)="login()" [matTooltip]="t('login')">
            <mat-icon>login</mat-icon>
          </button>
        </div>
        <ng-content select="[content]"></ng-content>
      </td-layout-nav-list>
    </td-layout>
  </ng-container>
</ng-container>
